/* Inserting style for smooth scrolling. */
#scroll-animate
{
	overflow: hidden;
}

#scroll-animate-main
{
	width: 100%;
	left: 0;
	position: fixed;
}

#heightPage,
#heightScroll
{
	width: 10px;
	top: 0;
	position: absolute;
	z-index: 99;
}

#heightPage
{
	left: 0;
}

#heightScroll
{
	right: 0;
}


/* Inserting style for basic layout structure. */
header
{
	width: 100%;
	height: 100%;
	background: url(http://lab.hudsonmarinho.com/header-and-footer-parallax-effect/assets/images/bg-header.jpg) no-repeat 50% 50%;
	top: 0;
	position: fixed;
	z-index: -1;
}

footer
{
	width: 100%;
	height: 300px;
	background: gray;
	bottom: -300px;
	position: fixed;
	z-index: -1;
}

.content
{
	height: 1000px;
	min-height: 1000px;
	background: #ededed;
	position: relative;
	z-index: 1;
}

.wrapper-parallax {
	margin-top: 100%;
	margin-bottom: 300px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


/* Inserting style to align the title of sections. */
h1{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	font-family: Helvetica;
	font-size: 150px;
	color: #fff;
}

header h1{}

.content h1{
	line-height: 1000px;
	color: #999;
}

footer h1
{
	line-height: 300px;
}


/* Inserting style animations for layout. */
header,
footer,
#scroll-animate-main
{
	-webkit-transition-property: all;
		 -moz-transition-property: all;
			transition-property: all;

	-webkit-transition-duration: 0.4s;
		 -moz-transition-duration: 0.4s;
			transition-duration: 0.4s;

	-webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
		 -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
			transition-timing-function: cubic-bezier(0, 0, 0, 1);
}